@use '../global' as g;

.js-svh {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100vh;
  height: 100svh;
  pointer-events: none;
}

.js-lvh {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100vh;
  height: 100lvh;
  pointer-events: none;
}

.js-modal {
  &:hover {
    cursor: pointer;
  }
}

.js-pre-height {
  @include g.pos(absolute);
  width: 1px;
  height: calc(100vh + 1px);
  pointer-events: none;
}